<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/news/create/" method="post">{% csrf_token %}
        {{ new_post_form.as_p }}
{#        <p>Title:</p>#}
{#        <input type="text" name="title">#}
{#        <p>New's text:</p>#}
{#        <input type="text" name="text">#}
        <p><button type="submit">Submit</button></p>
    </form>
    <p><a target="_blank" href="/news/">Come back to the main page.</a></p>
</body>
</html>
